* {
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
  text-align: center;
  font-size: 12px;
  font-family: Sans-Serif;
}

#scene-container {
  /* tell our scene container to take up the full page */
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(236, 236, 236);
}




.links {
  margin: 0;
  position: fixed;
  bottom: 0;
  right: 0;
  /* background-color: #fff; */
  border-radius: 8px;
  overflow: hidden;
  /* keeps borders clean inside rounded corners */
  display: flex;
  flex-direction: row;
  box-shadow: 0 2px 8px rgb(0, 0, 0);
  z-index: 1000000;
}

/* style for each link */
.links a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px;
  color: #727272;
  text-decoration: none;
  /* border-top: 1px solid #ddd; */
  /* separator line */
  transition: background 0.2s, color 0.2s;
}


.links:hover {
  color: rgb(0, 0, 0);
}

.image {
  width: 50px;
  fill: #ffffff;
}

/* avatar image rounded */
.links img {
  
  border-radius: 10%; /* makes it a perfect circle */

}